body {
    font-size: 1.75em;
}

h1 {
    margin-bottom: 0.6em;
}

.Board {
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    background-image:
        linear-gradient(#bbb 1px, transparent 1px),
        linear-gradient(90deg, #bbb 1px, transparent 1px);
}

.Cell {
    background: #000;
    position: absolute;
}

.controls {
    font-weight: 500;
}

input, .btn {
    padding: 4px 9px;
}

input {
    margin-left: 5px;
    width: 100px;
    border-radius: 4px;
    border: 1px solid darkgray;
}

.btn {
    margin-left: 10px;
    font-size: 1em;
}